{% extends 'CV/base.html' %}
{% block info %}
    <section class="resume-section">
    <div class="resume-section-content jumbotron" style="background-color: white">
    {% if user.is_authenticated %}
        {% for about in about_list %}
        <h1 class="mb-0">Alexandru
            <span class="text-primary">Onofras</span>
        </h1>
        <div class="subheading mb-5">
            Birmingham · West Midlands ·<a href="mailto:onofrass@gmail.com">onofrass@gmail.com</a>
        </div>

        <p class="lead mb-5" id='id_about'>{{ about.description }}<a href="{% url 'about_edit' pk=about.pk %}" style="color:#212529;" id="Edit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                                                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                                                  </svg></a>
        </p>
            {% endfor %}
    {% else %}
        {% for about in about_list %}
        <h1 class="mb-0">Alexandru
            <span class="text-primary">Onofras</span>
        </h1>
        <div class="subheading mb-5">
            Birmingham · West Midlands ·<a href="mailto:onofrass@gmail.com">onofrass@gmail.com</a>
        </div>
        <p class="lead mb-5" id = 'id_about'>{{ about.description }}</p>
            {% endfor %}
    {% endif %}
    </div>
    </section>
{% endblock %}