<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Blog Project</title>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        {# MEDIUM STYLE EDITOR#}
        <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </head>

<body style="background-color: white">

<div class="jumbotron" style="background-color:white; ">
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
 {% if not user.is_authenticated %}
  <a class="navbar-brand" href="{% url 'login' %}"><svg class="bi bi-person-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
</svg></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
     {% else %}
     <li class="nav-item">
         <a class="customized_text" style="color: white;"> Welcome: <a href="{% url 'admin:index' %}" class="customized_text" style="color: white; text-decoration: none;" onMouseOver="this.style.color='rgba(255,255,255,.5)'"onMouseOut="this.style.color='#fff'">{{ user.username }}</a></a>
     </li>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
 {% endif %}

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'post_list' %}">Blog <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'CV' %}" >CV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/aalleexxx" >GitHub</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/alex-onofras" >LinkedIn</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>

  {# The actual blog posts#}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="blog_posts">
                    {% block content %}
                    {% endblock %}

                  </div>

                </div>
            </div>
        </div>

{# SCRIPTS#}
</div>

</body>
</html>
